html,body{
  margin:0px;
  height:100%;
}
.bg_heart{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
 overflow:hidden;
  background-image:url("https://i.pinimg.com/originals/51/d8/37/51d8374126446d495348b6032202126f.jpg");
  background-size:100% 100%;
  z-index:-1;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: cursive;
    max-width: 800px;
    margin: auto;
    background: #00000078;
    height: fit-content;
    margin: auto;
    right: 0;
    backdrop-filter: blur(10px);
    bottom: 0;
    border-radius: 20px;
    padding: 20px;  
}


.heart{
  position:absolute;
  top:-50%;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -m-transform:rotate(-45deg);
}
.heart:before{
  position:absolute;
  top:-50%;
  left:0;
  display:block;
  content:"";
  width:100%;
  height:100%;
  background:inherit;
  border-radius:100%;
}
.heart:after{
  position:absolute;
  top:0;
  right:-50%;
  display:block;
  content:"";
  width:100%;
  height:100%;
  background:inherit;
  border-radius:100%;
}

@keyframes love {
  0%{top:110%}
}
@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}

}

@media (max-width: 600px) {
   body {
    margin: 0px;
    height: 100%;
    position: relative;
} 
  .container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: cursive;
    max-width: 800px;
    margin: auto;
    background: #00000078;
    height: fit-content;
    margin: auto;
    right: 0;
    backdrop-filter: blur(10px);
    bottom: 0;
    border-radius: 20px;
    padding: 20px;
}
  h2#text1 {
    font-size: 16px;
    font-family: arial;
    letter-spacing: 1px;
}
}

